<h2>Select Country</h2>
<select (change)="SetDropDownValue($event)">
  <option value="">Select</option>
  <option value="In">In</option>
  <option value="US">US</option>
  <option value="UK">UK</option>
</select>
<h2>You Have Selected</h2>
<div [ngSwitch] = 'dropDownValue'>
  <h3 *ngSwitchCase="'In'">India</h3>
  <h3 *ngSwitchCase="'US'">United State</h3>
  <h3 *ngSwitchCase="'UK'">United Kingdom</h3>
  <h3 *ngSwitchDefault="">You have not selected any country</h3>
</div>
<table>
  <thead>
      <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Branch</th>
          <th>DOB</th>
          <th>Gender</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor='let book of books'>
          <td>{{book.ID_genre}}</td>
          <td>{{book.Name}}</td>
          <td>{{book.Description}}</td>
          
      </tr>
  </tbody>
</table>


